# Proyecto 1
## Ciencias de Datos en Python

*20240302*

**Diego Morales**

- [Importación](#Importacion)
- [Conjuntos de Datos](#Conjuntos-de-Datos)
- [Análisis Exploratorio](#Analisis-Exploratorio)

## Importacion

In [17]:
import numpy as np
import pandas as pd

dataset = np.load('proyecto_training_data.npy')
dataset.shape

(1460, 6)

## Conjuntos de Datos

In [18]:
def split_dataset(dataset, per_train_set=0.8):
    n = int(len(dataset)*per_train_set)
    train_set = dataset[:n]
    test_set = dataset[n:]
    return train_set, test_set

train_set, test_set = split_dataset(dataset)

## Analisis Exploratorio

In [22]:
df = pd.DataFrame(dataset, columns=['SalePrice', 'OverallQual', '1stFlrSF', 'TotRmsAbvGrd', 'YearBuilt', 'LotFrontage'])
df.describe()

,SalePrice,OverallQual,1stFlrSF,TotRmsAbvGrd,YearBuilt,LotFrontage
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1201.000000
mean,180921.195890,6.099315,1162.626712,6.517808,1971.267808,70.049958
std,79442.502883,1.382997,386.587738,1.625393,30.202904,24.284752
min,34900.000000,1.000000,334.000000,2.000000,1872.000000,21.000000
25%,129975.000000,5.000000,882.000000,5.000000,1954.000000,59.000000
50%,163000.000000,6.000000,1087.000000,6.000000,1973.000000,69.000000
75%,214000.000000,7.000000,1391.250000,7.000000,2000.000000,80.000000
max,755000.000000,10.000000,4692.000000,14.000000,2010.000000,313.000000